@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Poppins:wght@200;500&family=Pushster&display=swap");
:root {
  --primary: #101217;
  --secondary: #856bef;
  --light: #f8f8f7;
  --success: #15ba9a;
  --fail: #cb4951;
  --tertiary: #1b1e29;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
